<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<% include partials/head.ejs %>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
	<div class="container">
		<center><h1><%= title %></h1></center>
		
		<br>
		<div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
		<br>
	</div>
</body>
<script type="text/javascript">
	var track_list = <%- JSON.stringify(topTracks) %>
</script>
</html>