<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<% include partials/head.ejs %>
</head>
<body>
	<div class="container">
		<input id = "artist" type="text" placeholder="Artist"></input><br>
		<input id = "song" type="text" placeholder="Songname"></input><br>
		<button id = "submit" type="button" class="btn btn-primary">Primary</button>
		<h1><%= title %></h1>
		<br>
		<br>
	</div>
</body>

</html>