<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!-- <script type="text/javascript" src="../../node_modules/materialize-css/dist/js/materialize.js"/> -->
	<% include partials/head.ejs %>
</head>

<body>

<div id="header" class="header">
  <ul class="menu">
    <!-- <li><a data-toggle="modal" data-target="#myModal">About</a></li> -->
    <li><a data-toggle="modal" data-target="#myModal">Algorithm</a></li>
    <li><a data-toggle="modal" data-target="#aboutModal">About</a></li>
  </ul>
</div>

<!-- <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div> -->

	<div class="main">
  <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <h1>Algorithm</h1>
      <div class="modal-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <h1>About</h1>
      <div class="modal-body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>
</div>
		<img src="/logo.svg" id="logo"><h1 id="HEAD"><%= title %></h1>
		<br>
<!--
		<section>
			<ul class="input-list style-1 clearfix">
				<li>
					<input type="text" placeholder=":input">
				</li>
			</ul>
		</section>

		<input id = "artist" type="text" placeholder="Artist"></input><br>
		<input id = "song" type="text" placeholder="Songname"></input><br>
		<button id = "submit" type="button" class="btn btn-primary">Primary</button>
		<br>
		<br> -->
	</div>
  <!-- <button id="moveleft" type="button">Shift</button> -->
  <div id="everything">
	<form name="form1">
		<input name ="input1" type="text" placeholder="Search for an artist..." />
		<div name = "after1" class="after"></div>
		<input name = "input1" type="submit" id="submit" />
	</form>
	<h4>&nbsp;</h4>
  <form class = "blah" name="form2" >
      <div class="songPrompt">
      <p>Search for a <a class="alt" id="song">song</a></p>
      </div>
    <input type="submit" id="submit" />
  </form>
  </div>

</body>

<script type="text/javascript">
	var s = $("input[name*='input1']"),
    s2 = $("input[name*='input2']"),
    f1  = $("form[name*='form1']"),
    f2 = $("form[name*='form2']"),
    a1 = $(".after[name*='after1']"),
    a2 = $(".after[name*='after2']"),
		m = $('h4'),
    p = $('p');

  $('#moveleft').click(function() {
        $('#everything').animate({
        'marginLeft' : "-=30px" //moves left
        });
    });

p.on('click', function(){
  $("div.songPrompt").replaceWith('<input class = "input2" name="input2" type="text" placeholder="Search for a song..." /><div name="after2" class="after"></div>');
  if( f2.hasClass('open') ) return;
  f2.addClass('in');
  setTimeout(function(){
    f2.addClass('open');
    f2.removeClass('in');
  }, 1300);
});

s.focus(function(){
  // alert("blah");
  if( f1.hasClass('open') ) return;
  f1.addClass('in');
  setTimeout(function(){
    f1.addClass('open');
    f1.removeClass('in');
  }, 1300);
});

a1.on('click', function(e){
  e.preventDefault();
  if( !f1.hasClass('open') ) return;
   s.val('');
  f1.addClass('close');
  f1.removeClass('open');
  setTimeout(function(){
    f1.removeClass('close');
  }, 1300);
})

a2.on('click', function(e){
  e.preventDefault();
  if( !f2.hasClass('open') ) return;
   s2.val('');
  f2.addClass('close');
  f2.removeClass('open');
  setTimeout(function(){
    f2.removeClass('close');
  }, 1300);
})

f1.submit(function(e){
  e.preventDefault();
  m.html('Thanks, high five!').addClass('show');
  f1.addClass('explode');
  setTimeout(function(){
    s.val('');
    f1.removeClass('explode');
    m.removeClass('show');
  }, 3000);
})

f2.submit(function(e){
  e.preventDefault();
  // m.html('Thanks, high five!').addClass('show');
  f2.addClass('explode');
  setTimeout(function(){
    s.val('');
    f2.removeClass('explode');
    m.removeClass('show');
  }, 3000);
})

	$('#submit').click(function(){
		var artist = $('#artist').val();
		var song = $('#song').val();
		window.location.href = '/'+artist+'/'+song;
	});

</script>
</html>
