html{
  width: auto;
  background-color: #050505;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
#HEAD{
  padding-top: 10%;
  font-weight: 400;
  font-size: 2em;
}
.main{
  text-align: center;
}

.alt{
  border-bottom: 1px solid #3d82c4;
  -webkit-transition:ease all .2s;
  padding-bottom:3px;
}

.alt:hover{
  padding-bottom:1px;
}

p {
  text-align: center;
  color: #fff;
  font-size: 14px;
}
h4 {
  color: #fff;
  text-align: center;
  letter-spacing: 0.5px;
  transform: scale(0);
  transition: all 0.3s;
  position: relative;
  top: -25px;
  margin: 0;
  font-weight: normal;
}
h4.show {
  animation: alert 0.18s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes alert {
  0%{
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
form {
  transition: all 0.15s;
}
form.explode {
  transform: scale(1.4);
  opacity: 0;
}
html {
  padding-top: 100px;
}
form {
  width: 36px;
  height: 36px;
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  position: relative;
}

.song {
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  position: relative;
}
input[type="submit"]{
  display: none !important;
}
input {
  width: 100%;
}
input {
  background: none;
  border: 3px solid #fff;
  border-radius: 26px;
  box-sizing: border-box;
  padding: 5px 15px 7px;
  font-size: 14px;
  color: #fff;
  z-index: 2;
  position: relative;
}
in/*put.test{
  visibility: hidden;
}*/
input:focus {
  outline: none;
}
.after {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 1px;
  right: 0;
  z-index: 1;
}
form.open .after,
form.open1 .after {
 cursor: pointer;
}
.after:before,
.after:after {
  content: '';
  width: 13px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  position: absolute;
  transform-origin: 100% 100%;
}
.after:after{
  bottom: -3px;
  right: -3px;
  transform: rotate(45deg);
}
.after:before {
  top: -3px;
  right: -3px;
  transform: rotate(-45deg);
  opacity: 0;
}
form,
form .after,
form .after:before,
form .after:after {
  animation-duration: 1.1s;
  animation-fill-mode: forwards;
}
form.song{

}

form.in {
  animation-name: expand;
}
form.in .after:before {
  animation-name: beforemagic;
}
form.in .after:after {
  animation-name: aftermagic;
}

form.close,
form.close .after,
form.close .after:before,
form.close .after:after {
  animation-direction: reverse;
}
form.close {
  animation-name: expand;
}
form.close .after:before {
  animation-name: beforemagic;
}
form.close .after:after {
  animation-name: aftermagic;
}

/* Hold final focused state
 ****************************/
form.open,
form.open1 {
  width: 250px;
  color: #fff;
}
form.open .after,
form.open1 .after {
  z-index: 3;
}
form.open .after:before,
form.open1 .after:before {
  width: 20px;
  top: 9px;
  right: 13px;
  opacity: 1;
}
form.open .after:after,
form.open1 .after:after {
  width: 20px;
  bottom: 10px;
  right: 15px;
}

form.blah{
  width: 250px;
  height: 250px;
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  position: relative;
}

@keyframes aftermagic {
  0%   {}
  10% {
    width: 24px;
    bottom: -10px;
    right: -10px;
  }
  15%{
    opacity: 1;
  }
  35% {
    width: 13px;
    bottom: -3px;
    right: -3px;
     opacity: 0;

  }
  25% {
    opacity: 0;
  }
  64% {
    opacity: 0;
  }
  65% {
    opacity: 1;
    width: 13px;
    bottom: -2px;
    right: -3px;
  }
  75% {
    width: 30px;
    bottom: 4px;
    right: 10px;
  }
  90% {
    width: 20px;
    bottom: 10px;
    right: 15px;
  }
  100% {
    width: 20px;
    bottom: 10px;
    right: 15px;
  }
}
@keyframes beforemagic {
  0%   {}
  50% {
    opacity: 0;
  }
  55% {
    opacity: 1;
    width: 13px;
    top: -4px;
    right: -3px;
  }
  65% {
    width: 30px;
    top: 6px;
    right: 10px;
  }
  80% {
    width: 20px;
    top: 9px;
    right: 13px;
  }
  100% {
    width: 20px;
    top: 9px;
    right: 13px;
    opacity: 1;
  }
}
@keyframes expand {
    0%   {
      color: transparent;
    }
  20% {
    width: 36px;
  }
  45% {
    width: 250px;
  }
  99% {
    color: transparent;
  }
    100% {
      width: 250px;
      color: #fff;
    }
}

/*Menu bar CSS*/
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

.header {
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  top: 20px;
  padding: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: fixed;
  width: 100%;
}
@media (min-width: 450px) and (max-width: 950px) {
  .header {
    padding: 5px;
  }
}

.container {
  text-align: center;
  width: 100%;
}

.logo {
  border: 1px solid white;
  color: white;
  cursor: default;
  display: inline-block;
  margin: 200px auto;
  padding: 5px 20px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.logo p {
  float: left;
  margin: 0;
  font-size: 3em;
  font-weight: 300;
}
@media (max-width: 500px) {
  .logo p {
    font-size: 2em;
  }
}
.logo .first {
  font-weight: bold;
}

.menu {
  display: table;
  height: 50px;
  margin: 0 auto;
  list-style-type: none;
}
.menu li {
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 120px;
}
@media (max-width: 500px) {
  .menu li {
    float: none;
  }
}
.menu li::before {
  background: white;
  content: "";
  height: 1px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 1px;
  display: none;
}
.menu li:last-child::before {
  display: none;
}
.menu li::after {
  background: white;
  bottom: -3px;
  content: "";
  height: 1px;
  right: 0px;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  width: 100%;
}
.menu li:hover::after {
  bottom: 0;
  opacity: 1;
}
.menu li a {
  cursor: pointer;
  color: white;
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  postiton: relative;
  text-transform: uppercase;
}
.menu li a:hover {
  color: white;
}

.wrapper {
  background: white;
  height: 1600px;
  padding: 50px;
}
.wrapper .title {
  color: #e74c3c;
  display: table;
  font-size: 3em;
  font-weight: 100;
  margin: 0 auto;
  margin-bottom: 50px;
}
.wrapper p {
  display: block;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  width: 100%;
}
@media (max-width: 500px) {
  .wrapper p {
    font-size: 1.5em;
  }
}




